<h1>My Closet</h1>
<div class='row text-center'>
  <%= link_to "New Item", new_item_path, class: 'btn btn-primary' %>
</div>
<br/>

<div class="gridster">
  <ul>
  <% @items.each do |item| %>
    <li class="gridster-cell" data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <% if item.photo? %>
        <div class='text-center gridster-image'><%= cl_image_tag(item.photo.path, { size: '125x125', crop: :fit }) %></div>
      <% end %>
      <%= link_to(item) do %>
        <h4 class='text-center'><%= item.item_name %></h4>
      <% end %>
      <p class='text-center'><%= item.item_type %></p>
      <p class='text-center'><%= item.item_color %></p>
    </li>
  <% end %>
  </ul>
</div>
<br/>


<%
=begin %>
<div id="masonry-container" class="gridster transitions-enabled centered infinite-scroll clearfix">
  <% @items.reverse.each do |item| %>
    <%= link_to(item) do %>
      <div class="box col2">
        <% if item.photo? %>
          <div class='text-center gridster-image'><%= cl_image_tag(item.photo.path, { size: '125x125', crop: :fit }) %></div>
        <% end %>
        <h4 class='text-center'><%= item.item_name %></h4>
        <p class='text-center'><%= item.item_type %></p>
        <p class='text-center'><%= item.item_color %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%
=end %>
