<h2>Edit <%= resource_name.to_s.humanize %></h2>



<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, hint: "You can change your email here" %>

      <%= f.input :first_name %>

      <%= f.input :last_name %>

      <%= f.input :password, hint: "New password, or leave blank if you don't want to change it" %>

      <%= f.input :password_confirmation, hint: "Confirm your new password" %>

      <%= f.input :current_password, hint: "We need your current password to confirm your changes"  %>
      <div class="text-center">
        <%= link_to "Back and don't save", :back, class: 'btn btn-info' %>
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<br/>
<br/>
<div class="text-center">
  <h4>Unhappy?</h4>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
</div>
