<h2>Sign in</h2>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
    	<%= devise_error_messages! %>

    	<%= f.input :email %>

    	<%= f.input :password %>

    	<div class="text-center">
    	<%= f.submit "Sign in", class: 'btn btn-primary' %>
    	</div>
    <% end %>
  </div>
</div>
<br/>
<div class="text-center">
<%= render "devise/shared/links" %>
</div>
