<p id="notice"><%= notice %></p>

<% if @item.photo? %>
  <%= cl_image_tag(@item.photo.path, { size: '125x125', crop: :fit }) %>
<% end %>
<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>

<p>
  <strong>Item color:</strong>
  <%= @item.item_color %>
</p>

<p>
  <strong>Item date owned:</strong>
  <%= @item.item_date_owned %>
</p>

<p>
  <strong>Date uploaded:</strong>
  <%= @item.created_at.strftime("%b %d %Y") %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', user_panel_path %> |
<%= link_to 'Destroy', item_path, method: :delete, data: { confirm: 'Are you sure?' } %>