<!DOCTYPE html>
<html>
	<head>
	  <title>ProjectCloset</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= cloudinary_js_config %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header.html.erb' %>
		<div class="container-fluid">
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>
